[submodule "third_party/libheif"]
	path = third_party/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "third_party/libde265"]
	path = third_party/libde265
	url = https://github.com/strukturag/libde265.git
[submodule "third_party/dav1d"]
	path = third_party/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "third_party/avif-sample-images"]
	path = third_party/avif-sample-images
	url = https://github.com/link-u/avif-sample-images.git
